//
//  supabaseVars.xcconfig
//  CampusCart
//
//  Created by wayne on 5/21/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


SUPABASE_URL=https://sflwtzxaaigpfnruuxij.supabase.co

SUPABASE_ANON =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmbHd0enhhYWlncGZucnV1eGlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczNjUwNjQsImV4cCI6MjA2Mjk0MTA2NH0.vDL2lwQ9czs0f_OlW4fZKVmtH7_ohL7N4siRtSGfoO4
